%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %title(id="title")= settings.app_name
    / ** CSS **
    / base library
    -# %link(rel="stylesheet" type="text/css" href="http://extjs.cachefly.net/ext-3.2.1/resources/css/ext-all.css")
    %link(rel="stylesheet" type="text/css" href="#{settings.ext_dns}/ext-3.2.1/resources/css/ext-all.css")

    / overrides to base library
    %style(type="text/css")
      :plain
        .status-new { color: red }
        .status-processing { color: gray }
        .status-imported { color: green }

        .x-toolbar .btn-search {
          background-image: url(images/action_refresh.gif);
        }

        .x-toolbar .x-btn-over .btn-search {
          background-image: url(images/action_refresh_blue.gif);
        }

        .x-toolbar .btn-import {
          background-image: url(images/database_add.png);
        }

        .x-toolbar .btn-delete {
          background-image: url(images/delete.png);
        }

        .article-tab .loading-indicator {
          position: absolute; top: 40%; left: 45%; font-size: 1.4em; text-align: left;
        }

        .article-tab h3 {
          text-align: center;
        }

        .article-tab h4 {
          text-align: center;
          font-size: 0.8em;
          padding: 6px 0;
        }

        .article-tab h4 label {
          margin-left: 10px;
        }

        .article-tab .time {
          color: orange;
        }

    / ** Javascript **
    / ExtJS library: base/adapter
    %script(type="text/javascript" src="#{settings.ext_dns}/ext-3.2.1/adapter/ext/ext-base.js")

    / ExtJS library: all widgets
    -# %script(type="text/javascript" src="http://extjs.cachefly.net/ext-3.2.1/ext-all-debug.js")
    %script{:type => "text/javascript", :src => "#{settings.ext_dns}/ext-3.2.1/ext-all#{settings.development? && '-debug' || nil}.js"}

    / overrides to base library
    %script(type="text/javascript" src="/javascripts/ext-zh.js")

    / extensions/plugins
    / ++ nothing yet ++

    / page specific
    :javascript
      Ext.BLANK_IMAGE_URL = '#{settings.ext_dns}/ext-3.2.1/resources/images/default/s.gif';
      Ext.onReady(function() {
        Ext.QuickTips.init();
        #{yield}
      }, window, {single: true});
  %body
